@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
}

table {
    border-collapse: collapse;
}

/* Set header to stick to the top of the container. */
thead {
    position: sticky;
    top: 0;
    z-index: 99;
}

thead {
    overflow: hidden;
    width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
}

/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #0F2B3C;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 8px;
height: 8px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: #205375;
border: 0px none transparent;
}

.odc-bg {
    background: url('../../public/storage/img/bg-1.png') left center/cover no-repeat;
}

.odc-bg-logo {
    background: url('../../public/storage/img/logo-1-sub.svg') left center/contain no-repeat content-box;
    position: absolute;
    height: 80%;
    width: 50%;
    z-index: 9;
    inset: 0;
    top: 12%;
}

.odc-bg-overlay,
.odc-nav-bg-overlay,
.odc-header-overlay {
    isolation: isolate;
}

.odc-bg-overlay::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 100%;
    background: url('../../public/storage/img/bg-2.png') center center/cover no-repeat content-box;
    pointer-events: none;
}

.odc-nav-bg-overlay::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 7rem;
    height: 100%;
    top: 0;
    mix-blend-mode: color-burn;
    background: url('../../public/storage/img/bg-2.png') center center/cover no-repeat content-box;
    pointer-events: none;
    transition: 300ms cubic-bezier(0, 0, 0.2, 1);
}

.odc-nav-bg-overlay:hover::after {
    width: 18rem;
}

.odc-header-overlay::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
    background: url('../../public/storage/img/bg-2.png') center center/cover no-repeat content-box;
    pointer-events: none;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.middle {
    grid-area: 2 / 1 / 3 / 2;
}

.footer {
    grid-area: 3 / 1 / 4 / 2;
}

.odc-glass-active {
    background: rgb(255,255,255);
background: -moz-linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.6474964985994398) 100%);
background: -webkit-linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.6474964985994398) 100%);
background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.6474964985994398) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}

.odc-glass:hover {
    background: rgb(255,255,255);
background: -moz-linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.6474964985994398) 100%);
background: -webkit-linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.6474964985994398) 100%);
background: linear-gradient(118deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.6474964985994398) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
}


.odc-logo-clip {
    transform: translateX(5.6rem);
    clip-path: polygon(0% 0%, 26% 0%, 22% 100%, 0% 100%);
    transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
}

.odc-nav:hover .odc-logo-clip {
    transform: translateX(0rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

/* .odc-logo-clip {
    width: 3.43rem;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0, 0, 0.2, 1);
}

.odc-nav:hover .odc-logo-clip {
    width: auto;
} */

/** FOR CALC STYLES **/
.odc-main-con-height {
    height: calc(100vh - 5rem);
}
